 
*{
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
} 

body { 
    background-image:url('fondo.jpg'); 
} 

.form-register { 
    width: 500px; 
    background: #2ecc71; 
    padding: 30px; 
    margin: auto; 
    margin-top: 25px; 
    border-radius: 4px; 
    font-family: 'calibri'; 
    color:white; 
    box-shadow: 7px 13px 37px #000; 
} 

.form-register h4 { 
    font-size: 22 
    px; 
    margin-bottom: 20px; 
}

.controls { 
    width: 100%; 
    background: white; 
    padding: 10px; 
    border-radius: 4px; 
    margin-bottom: 16px; 
    border: 1px solid #27ae60; 
    font-family: 'calibri'; 
    font-size: 18px; 
    color: #646666; 
} 

.form-register p { 
    height: 40px; 
    text-align: center; 
    font-size: 18px; 
    line-height: 40px; 
} 

.form-register a { 
    color: white; 
    text-decoration: none; 
} 
.form-register a:hover { 
    color: #646666; 
    text-decoration: underline; 
} 
.form-register p { 
    color: white; 
    text-decoration: none; 
} 

.form-register .boton { 
    width: 100%; 
    background: #1f53c5; 
    border: none; 
    padding: 12px; 
    color: white; 
    margin: 16px 0; 
    font-size: 16px; 
    text-decoration: none; 
}

    